.topImg {
    max-width: 90%;
}
.socials {
    margin-top: 1em;
}
.thumbImg {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.navbar {
    margin-top: 20px;
}
.footer {
    text-align: center;
    background-color: #E3E3E3;
    height: 80px;
}
.text-muted {
    padding-top: 35px;
}
