.topImg {
    max-width: 90%;
}
.socials {
    margin-top: 1em;
}
.thumbImg {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.navbar {
    margin-top: 20px;
}
.text-muted {
    padding-top: 35px;
}
h4 {
    margin-top: 35px;
}
